/*
 * COLOURS
 * base     dd2e44
 * dark     bb0c22
 * bright   ffffff
 * colour   8ae7ed
 */

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
input,
textarea {
    box-sizing: border-box;
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
}

body {
    background-color: #dd2e44;
}

h2 {
    color: #dd2e44;
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
}

p {
    font-size: 1.25em;
    margin-bottom: 1em;
}

p:last-of-type {
    margin-bottom: 0;
}

strong {
    color: #dd2e44;
    font-weight: 600;
}

.main__title {
    font-size: 21vw;
    font-variant: small-caps;
    letter-spacing: 2px;
    margin-left: -0.125em;
    margin-top: -0.6em;
    overflow-x: hidden;
    text-align: center;
    text-transform: lowercase;
    white-space: nowrap;
}

.main__title > a {
    color: white;
    text-decoration: none;
    text-shadow: 0 4px 0 #bb0c22;
    transition: all 0.2s ease;
}

.main__title > a:hover {
    text-shadow: 0 8px 0 #bb0c22;
}

main {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 16px 0 -8px #bb0c22;
    margin: 1em auto;
    max-width: 50em;
    padding: 2em;
}
