/*
 * COLOURS
 * base     dd2e44
 * dark     bb0c22
 * bright   ffffff
 * colour   8ae7ed
 */

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
input,
textarea {
    box-sizing: border-box;
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

body {
    background-color: #dd2e44;
}

code {
    font-size: 1.2em;
}

h1,
h2,
h3,
h1 a,
h2 a,
h3 a {
    color: #dd2e44;
    text-decoration: none;
}

h1,
h2,
h3 {
    margin-bottom: 0.5em;
}

h2 {
    font-size: 3em;
    text-align: center;
}

img {
    max-width: 100%;
}

.post__content figure,
.post__content p,
.post__content ul {
    font-size: 1.25em;
    margin-bottom: 1em;
}

.post__content figure:last-child,
.post__content p:last-child,
.post__content ul:last-child {
    margin-bottom: 0;
}

pre {
    overflow-x: scroll;
}

strong {
    color: #dd2e44;
    font-weight: 600;
}

.post__content ul {
    padding-left: 1.25em;
}

.main__title {
    font-size: 21vw;
    font-variant: small-caps;
    letter-spacing: 2px;
    overflow-x: hidden;
    position: fixed;
    text-align: center;
    text-transform: lowercase;
    top: -0.6em;
    left: -0.125em;
    white-space: nowrap;
    z-index: -1;
}

.main__title > a {
    color: white;
    text-decoration: none;
    text-shadow: 0 4px 0 #bb0c22;
    transition: all 0.2s ease;
}

.main__title > a:hover {
    text-shadow: 0 8px 0 #bb0c22;
}

.main__nav {
    font-size: 2em;
    font-weight: 600;
    margin: 5em auto 0;
    max-width: 25em;
    word-spacing: 1em;
}

@media (max-width: 50em) {
    .main__nav {
        margin: 3.5em 0.5em 0;
    }
}

.main__nav > ul {
    list-style: none;
}

.main__nav li {
    display: inline;
}

.main__nav a {
    color: #ffffff;
    border-bottom: 4px solid transparent;
    display: inline-block;
    text-decoration: none;
}

.main__nav a:hover,
.main__nav a.active {
    border-bottom: 4px solid white;
}

main,
.main__footer {
    margin: 2em auto 0;
    max-width: 50em;
}

main {
    background: #ffffff;
    padding: 2em;
}

.profile-image {
    border: 8px solid #dd2e44;
    border-radius: 50%;
    display: block;
    margin: 1em auto;
}

.main__footer {
    display: flex;
}

.reference {
    background-color: white;
    flex: 1;
    margin: 0 1em;
    padding: 1em;
}

.reference:first-of-type {
    margin-left: 0;
}

.reference:last-of-type {
    margin-right: 0;
}

@media (max-width: 30em) {
    .main__footer {
        display: block;
    }

    .reference,
    .reference:first-of-type,
    .reference:last-of-type {
        margin: 0 2em;
        text-align: center;
    }
}

.reference > a {
    display: block;
}

.copyright {
    font-size: 0.8em;
    margin: 1em;
    text-align: center;
}

.copyright > a {
    color: black;
}

.post-list {
    list-style: none;
}

.post-list__item {
    clear: both;
    margin: 2em 0;
}

.post__title--small {
    font-size: 2em;
}

.post__meta {
    display: block;
    margin: 1em 0;
}

.meta__item,
.tag__item {
    font-weight: 600;
}

.post__tags {
    list-style: none;
}

.tag__item {
    display: inline;
}

.tag__item:not(:last-of-type):after {
    content: " · ";
}

.post__content h2 {
    font-size: 2em;
    text-align: left;
}
