/*
 * COLOURS
 * base     dd2e44
 * dark     bb0c22
 * bright   ffffff
 * colour   8ae7ed
 */

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
input,
textarea {
    box-sizing: border-box;
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

body {
    background-color: #dd2e44;
}

h2 {
    color: #dd2e44;
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
}

p {
    font-size: 1.25em;
    margin-bottom: 1em;
}

p:last-of-type {
    margin-bottom: 0;
}

strong {
    color: #dd2e44;
    font-weight: 600;
}

.main__title {
    font-size: 21vw;
    font-variant: small-caps;
    letter-spacing: 2px;
    overflow-x: hidden;
    position: fixed;
    text-align: center;
    text-transform: lowercase;
    top: -0.6em;
    left: -0.125em;
    white-space: nowrap;
    z-index: -1;
}

.main__title > a {
    color: white;
    text-decoration: none;
    text-shadow: 0 4px 0 #bb0c22;
    transition: all 0.2s ease;
}

.main__title > a:hover {
    text-shadow: 0 8px 0 #bb0c22;
}

.main__nav {
    font-size: 2em;
    font-weight: 600;
    margin: 5em auto 0;
    max-width: 25em;
    word-spacing: 1em;
}

@media (max-width: 50em) {
    .main__nav {
        margin: 3.5em 0.5em 0;
    }
}

.main__nav > ul {
    list-style: none;
}

.main__nav li {
    display: inline;
}

.main__nav a {
    color: #ffffff;
    border-bottom: 4px solid transparent;
    display: inline-block;
    text-decoration: none;
}

.main__nav a:hover,
.main__nav a.active {
    border-bottom: 4px solid white;
}

main {
    background: #ffffff;
    margin: 2em auto 0;
    max-width: 50em;
    padding: 2em;
}

.profile-image {
    border: 8px solid #dd2e44;
    border-radius: 50%;
    display: block;
    margin: 1em auto;
}
