---
layout: default
title: Billy Brown
---
<!--
<ul class="posts-list">
  {% for post in site.posts %}
    <li class="post-header post-header-large type-{{ post.layout }}">
      {% include post_header.html %}
    </li>
  {% endfor %}
</ul>
-->
<h1 class="tagline">Billy Brown <span class="big">designs</span> for <span class="biggest">web</span></h1>
<div class="reference col-3">
	<a href="http://twitter.com/_Billy_Brown" class="reference">
		<h2 class="reference-name">@_Billy_Brown</h2>
		<span class="reference-location">Twitter</span>
	</a>
</div>
<div class="reference col-3">
	<a href="https://plus.google.com/+DruidofLûhn" class="reference">
		<h2 class="reference-name">Druid of Lûhn</h2>
		<span class="reference-location">Google+</span>
	</a>
</div>
<div class="reference col-3">
	<a href="https://github.com/Druid-of-Luhn" class="reference">
		<h2 class="reference-name">Druid-of-Luhn</h2>
		<span class="reference-location">Github</span>
	</a>
</div>


