<li>
<article class="post-list__item">
    <header class="post__header">
        <h3 class="post__title--small">
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </h3>
        <span class="post__meta">
            Published on
            {% include date.html %}
            in
            <span class="post__category  meta__item">{{ post.category }}</span>
            {% include tags.html %}
        </span>
    </header>
    <div class="post__content">
        {% if post.category == "photography" %}
        <img src="/img/full/{{ post.source }}" alt="{{ post.alt }}" title="{{ post.title }}" class="photo__image--small">
        {% else %}
        {{ post.excerpt }}
        {% endif %}
    </div>
</article>
</li>
