@import "syntax"

$green: #67f084
$blue: #67aef0


*
  box-sizing: border-box

html
  font-family:  "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif
  font-size: 137.5% // 22px

body
  margin: 0 auto
  max-width: 30em
  padding: 0 1em

h1,
h2
  font-weight: 400
  letter-spacing: 1px

  a
    color: inherit

a
  color: #67aef0
  text-decoration: none

figure
  margin: 1em 0

figcaption
  margin: 0 auto
  max-width: 45em

img
  max-width: 100%

code
  font-size: 1.25em

pre
  overflow-x: scroll

.main-nav
  margin: 1em
  text-align: center

.nav-item
  text-decoration: none

  &:not(:last-of-type)::after
    color: black
    content: "/"
    display: inline-block
    margin: 0 0.5em
    pointer-events: none

.tagline
  font-size: 2em
  font-style: italic
  margin: 0 0 1em
  pointer-events: none
  text-align: center

  .big,
  .biggest
    display: block
    font-style: normal
    font-variant: small-caps
    font-weight: 700
    margin-top: -0.45em
    margin-bottom: -0.33em

.hire
  margin-top: -1em
  text-align: center

.main-footer
  display: flex
  margin-top: 1.5em

.reference
  border-bottom: 4px solid transparent
  display: block
  flex: 1
  padding-bottom: 0.5em

  &:hover
    border-bottom: 4px solid $green

.reference-name
  color: black
  font-size: 1em
  margin: 0

.reference-location
  font-size: 0.8em
  font-weight: 600

.big
  font-size: 4em

.biggest
  font-size: 7.5em

.button
  background-color: #67f084
  border-radius: 4px
  box-shadow: 0 5px darken(#67f084, 20%)
  color: white
  display: inline-block
  font-size: 1.5em
  font-variant: small-caps
  letter-spacing: 6px
  padding: 0.25em 1.5em
  text-transform: lowercase

  &:hover
    box-shadow: 0 2px darken(#67f084, 20%)
    transform: translateY(3px)
  
  &:active
    box-shadow: none
    transform: translateY(5px)

.centred
  margin: inherit auto
  text-align: center

.highlight
  padding: 0.5em 1em
  padding-top: 2em
  position: relative

  code::before
    background: $green 
    color: white
    content: attr(class)
    padding: 0.5em 1em
    position: absolute
    top: 0
    right: 0
    left: 0
