@import "syntax"
@import "_bits"
@import "_post"
@import "_form"
@import "_flipper"

*
  animation: fadein 0.5s // Fades everything in
  box-sizing: inherit

@keyframes fadein
  0%
    opacity: 0
  100%
    opacity: 1

html
  box-sizing: border-box
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif
  font-size: 137.5% // 22px
  line-height: 1.4

  @include mq("large")
    font-size: 175% // 28px

body
  margin: 0 auto
  max-width: 30em
  padding: 0 1em

h1, h2, h3, h4, h5, h6
  font-weight: 500

  a
    color: inherit

h1
  font-weight: 400

a
  color: $blue
  text-decoration: none

  &:hover
    color: darken($blue, 15%)

figure
  margin: 1em 0

figcaption
  margin: 0 auto
  max-width: 45em

hr
  border: 1px solid $grey
  margin: 2em auto
  width: 50%

img
  max-width: 100%

p
  line-height: 1.8
  margin: 0 0 1em

code
  font-size: 1.25em

pre
  overflow-x: scroll

.main-nav
  margin: 1em 0
  text-align: center

  @include mq("small")
    text-align: left

.nav-item
  margin: 0 1em
  text-decoration: none

  @include mq("small")
    display: block

.tagline
  font-family: Georgia, serif
  font-size: 2em
  font-style: italic
  margin: 0
  text-align: center

  @include mq("medium")
    font-size: 1.5em
  
  @include mq("small")
    font-size: 1em
    margin-bottom: 1em

  .big,
  .biggest
    display: block
    font-family: "Open Sans" 
    font-style: normal
    font-variant: small-caps
    font-weight: 700
    margin-top: -0.5em
    margin-bottom: -0.2em
    pointer-events: none

.main-title
  @extend .tagline
  @include mq("small")
    font-size: 1.6em
    margin-bottom: 0

.main-footer
  display: flex
  margin-top: 1.5em

  @include mq("medium")
    display: block
    text-align: center

.reference
  border-bottom: 6px solid transparent
  display: block
  flex: 1
  padding-bottom: 0.5em

  &:hover
    border-bottom: 6px solid $green
  
  @include mq("medium")
    border-bottom: none
    display: block
    margin: 1em 0
    padding: 0

    &:hover
      border-right: 6px solid $green
      border-bottom: none
      border-left: 6px solid $green

.reference-name
  color: black
  font-size: 1em
  font-weight: 400
  margin: 0

.reference-location
  font-size: 0.8em
  font-weight: 600

.copyright
  font-size: 0.7em
  margin: 1em 0
  text-align: center

.big
  font-size: 3.6em

.biggest
  font-size: 7.5em

.button
  background-color: #67f084
  border-radius: 4px
  box-shadow: 0 5px darken(#67f084, 20%)
  color: white
  display: inline-block
  font-size: 1.5em
  font-variant: small-caps
  letter-spacing: 6px
  padding: 0.25em 1.5em
  text-align: center
  text-transform: lowercase

  &:hover
    box-shadow: 0 2px darken(#67f084, 20%)
    color: white
    transform: translateY(3px)
  
  &:active
    box-shadow: none
    transform: translateY(5px)

.centred
  margin: inherit auto
  text-align: center

.note
  color: $grey
  font-size: 0.8em
  margin: 1em

  &::before
    color: $green
    content: "(i)"
    display: inline-block
    font-family: monospace
    font-size: 1.25em
    font-weight: 700
    margin-right: 0.25em

.highlight
  padding: 0.5em 1em
  padding-top: 2em
  position: relative

  code::before
    background: $green 
    color: white
    content: attr(class)
    padding: 0.5em 1em
    position: absolute
    top: 0
    right: 0
    left: 0
