<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
        <meta name="viewport" content="width=device-width">
        {% include social_meta.html %}

        <title>{{ page.title }} | Billy Brown</title>
        <link rel="stylesheet" href="/css/syntax.css">
        {% if page.form %}
        <link rel="stylesheet" href="/css/form.css">
        {% endif %}
        <link rel="stylesheet" href="/css/global.css">
        {% include favicon.html %}
        {% include google_analytics.html %}
    </head>
    <body>
        <h1 class="main__title"><a href="/">Billy Brown</a></h1>

        {% include navigation.html %}

        <main role="main">
            <h2>{{ page.title }}</h2>
            {{ content }}
        </main>

        <footer class="main__footer">
            <div class="reference">
                <a href="http://twitter.com/_Billy_Brown">@_Billy_Brown</a>
                Twitter
            </div>
            <div class="reference">
                <a href="https://github.com/Druid-of-Luhn">Druid of Lûhn</a>
                GitHub
            </div>
            <div class="reference">
                <a href="http://codepen.io/_Billy_Brown">@_Billy Brown </a>
                CodePen
            </div>
        </footer>

        <aside class="copyright">Copyright <a href="/">Billy Brown</a> {{ site.time | date: "%Y" }}</aside>
        {% if page.form %}
        <script src="/js/wufoo.min.js" type="text/javascript" charset="utf-8"></script>
        {% endif %}
    </body>
</html>
